{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container mt-4">
  <div class="form-box rounded box-shadow">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {'attr': {"class": "form-control"}}) }}

    {{ form_row(registrationForm.plainPassword, {
    label: 'Password',
    attr: {class: 'form-control'}
    }) }}

    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-primary mt-4">Register</button>
    {{ form_end(registrationForm) }}

    <p>Alredy registered? <a href="{{ path('app_login') }}">Click here to login</a></p>
  </div>
</div>

{% endblock %}
