{% extends 'base.html.twig' %}

{% block title %}Result
{% endblock %}

{% block body %}

<div class="container mt-4">

  <div class="header mt-4 border border-dark rounded bg-dark text-light">
    <h2 class="text-center">Result of All Exams Attempted by you.</h2>
  </div>
	<div class=" box-shadow rounded mt-2 p-4 text-center">
    <table class="table myTable">
			<thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Exam Name</th>
          <th scope="col">Organization</th>
          <th scope="col">Matks Obtained</th>
          <th scope="col">Total Marks</th>
        </tr>
      </thead>
      <tbody>
          {% for index, result in results %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{names[index]}}</td>
              <td>{{owners[index]}}</td>
              <td>{{result}}</td>
              <td>{{totalMarks[index]}}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-success" id = "loadMore" >Load More Results</button>
    <a href="{{ path('app_upcomingexam') }}">
      <button class="btn btn-primary">Upcoming Exams</button>
    </a>
    <a href="{{ path('app_dashboard') }}">
      <button class="btn btn-primary">Home</button>
    </a>
    <a href="{{ path('app_logout') }}">
      <button class="btn btn-danger">Log out</button>
    </a>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
  var offset = {{ results | length }}
  $('#loadMore').click(function(){
    $.ajax({
    url: "{{ path('app_resultLoadMore')}}",
    method: 'POST',
    data: {
      offset: offset
    },
    success: function(response) {
      response.results.forEach(function(result) {
        var newRow = '<tr>' +
          '<th scope="row">' + (offset + 1) + '</th>' +
          '<td>' + result.names + '</td>' +
          '<td>' + result.owners + '</td>' +
          '<td>' + result.result + '</td>' +
          '<td>' + result.totalMarks + '</td>' +
          '</tr>';
          console.log(newRow);
        $('tbody').append(newRow);
        offset++;
      });
    },
    error: function (xhr, status, error) {
      console.error('AJAX request failed:', status, error);
    }
    })
  });
});
</script>

{% endblock %}
